* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: grey;
}

#loginContainer {
  margin: auto;
  height: 300px;
  width: 600px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
}

#loginForm {
  background-color: pink;
  grid-row: 1/3;
}

#loginForm{
  display: flex;
  flex-direction: column;
}
